/*bardoviy*/
body {
  display: flex;
  flex-wrap: wrap; }

input {
  outline: none;
  text-indent: 10px; }

a,
a:visited,
a:focus,
a:hover,
a:active {
  color: #f2f2f2;
  text-decoration: none; }

@font-face {
  font-family: Segoe-ui-light;
  src: url(../fonts/Segoe-ui-light.ttf) format("truetype"); }
@font-face {
  font-family: Segoe-ui-semibold;
  src: url(../fonts/Segoe-ui-semibold.ttf) format("truetype"); }
.main_title {
  font-family: Segoe-ui-light;
  font-size: 26px;
  color: #262626;
  text-transform: uppercase;
  display: table;
  margin: auto;
  margin-bottom: 30px; }

/*--------------
	HEADER
--------------*/
header {
  width: 100%;
  font-family: Comfortaa, Verdana;
  font-weight: 300;
  color: #666;
  font-size: 12px;
  padding-top: 25px; }
  header .wrapper {
    border-bottom: 2px solid #626262; }

.header_left {
  float: left; }

.header_center {
  float: left;
  margin: 23px 0 15px 0; }

.header_right {
  float: right;
  font-size: 14px;
  height: 85px; }
  .header_right .basket,
  .header_right .change_lang {
    display: inline-block; }
  .header_right .basket {
    margin-right: 11px;
    padding-right: 20px;
    border-right: 1px solid #666;
    position: relative; }
    .header_right .basket .basket_picture {
      width: 45px;
      height: 40px;
      position: absolute;
      bottom: -43px;
      right: 31px;
      background: url(../img/basket.png) no-repeat; }
    .header_right .basket .badge {
      position: absolute;
      bottom: -4px;
      left: 30px;
      background: #bc9f5c; }
  .header_right a {
    color: #666; }

.social {
  border-right: 1px solid #878787;
  padding-right: 3px;
  margin-right: 11px;
  display: inline-block;
  vertical-align: top; }
  .social .fa {
    display: inline; }
  .social a {
    color: #878787;
    font-size: 13px;
    padding: 8px 10px;
    border: 1px solid #878787;
    border-radius: 50%;
    position: relative;
    right: 3px;
    margin-right: 7px; }
    .social a:nth-child(2) {
      padding: 8px 14px;
      font-weight: 600; }
    .social a:nth-child(3) {
      padding: 8px 11px; }
    .social a:nth-child(4) {
      padding: 5px 9px;
      font-size: 18px;
      position: relative;
      top: 2px; }
    .social a:hover {
      color: #ebab2e;
      border: 1px solid #ebab2e;
      text-decoration: none; }

.adress {
  display: inline-block;
  vertical-align: top;
  font-weight: 300;
  margin-right: 45px;
  cursor: pointer; }
  .adress p:nth-child(1) {
    margin-bottom: 5px; }
  .adress p:nth-child(3) {
    margin-left: 41px; }
    .adress p:nth-child(3) i {
      font-size: 16px; }
  .adress .hidden_adress {
    opacity: 0;
    transition: opacity 0.3s ease; }

/*-------------------
       HAMBURGER 
--------------------*/
.hamburger {
  cursor: pointer;
  padding-left: 1.25em;
  float: left;
  margin-left: 30px;
  position: relative;
  width: 40px;
  height: 40px; }

.menu-global {
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  background: #878787;
  display: block;
  border-radius: 6px; }

.menu-top {
  top: 0;
  transition-property: top, transform;
  transition-duration: 0.4s, 0.4s;
  transition-delay: 0.4s, 0s; }

.menu-middle {
  top: 14px;
  transition: opacity 0.4s ease-out 0s; }

.menu-bottom {
  bottom: 6px;
  transition-property: bottom, transform;
  transition-duration: 0.4s, 0.4s;
  transition-delay: 0.4s, 0s; }

.menu-top-click {
  top: 14px;
  transform: rotate(45deg);
  transition-property: top, transform;
  transition-duration: 0.4s, 0.4s;
  transition-delay: 0s, 0.4s; }

.menu-middle-click {
  opacity: 0;
  transition: opacity 0.4s ease-out 0s; }

.menu-bottom-click {
  bottom: 20px;
  transform: rotate(-45deg);
  transition-property: bottom, transform;
  transition-duration: 0.4s, 0.4s;
  transition-delay: 0s, 0.4s; }

/*-------------------
       NAVIGATION 
--------------------*/
.hamburger {
  display: none;
  margin-top: 10px; }

.arrow_up_sm {
  background: url(../img/arrow_up_sm.png) no-repeat;
  width: 50px;
  height: 47px;
  float: right;
  margin: 5px 25px 0 0;
  display: none; }

nav {
  height: 55px;
  z-index: 4;
  width: 100%; }
  nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0; }
  nav a,
  nav a:hover,
  nav a:active {
    color: #262626; }
  nav .inner {
    z-index: 50;
    display: inline-block;
    width: 100%;
    padding-top: 13px; }

#cssmenu {
  float: left; }
  #cssmenu ul li {
    position: relative;
    display: inline;
    margin-right: 30px;
    padding: 13px 0;
    box-sizing: border-box; }
    #cssmenu ul li:hover {
      border-top: 4px solid #eac246; }
    #cssmenu ul li:nth-child(6), #cssmenu ul li:nth-child(7) {
      display: none; }
    #cssmenu ul li a {
      font-family: Segoe-ui-light, Verdana;
      outline: none;
      display: inline;
      position: relative;
      text-align: center;
      font-size: 16px;
      color: #262626; }

.search_block {
  margin-right: 15px;
  position: relative;
  bottom: 4px;
  float: right;
  font-family: Comfortaa, Verdana;
  font-weight: 300;
  font-size: 12px;
  color: #751701;
  outline: none; }
  .search_block ::-webkit-input-placeholder {
    color: #751701; }
  .search_block :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #751701;
    opacity: 1; }
  .search_block ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #751701;
    opacity: 1; }
  .search_block :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #751701; }
  .search_block input {
    border: none;
    margin-right: 20px; }
    .search_block input:focus {
      outline: none; }
  .search_block .fa-search {
    font-size: 18px; }
  .search_block button {
    outline: none;
    background: none;
    border: none; }

/*--------------
	TILES
---------------*/
.tiles {
  width: 100%;
  position: relative;
  margin-bottom: 70px; }

p {
  margin: 0; }

.wrapper {
  width: 830px;
  display: table;
  margin: auto; }

.carousel-caption {
  opacity: 0;
  transition: opacity 0.3s ease; }

.item:hover > .hover_overlay {
  opacity: 1; }
.item:hover > .carousel-caption {
  opacity: 1; }

.block {
  -webkit-box-shadow: -3px 5px 6px 1px rgba(150, 150, 150, 0.77);
  -moz-box-shadow: -3px 5px 6px 1px rgba(150, 150, 150, 0.77);
  box-shadow: -3px 5px 6px 1px rgba(150, 150, 150, 0.77);
  font-family: Segoe-ui-light;
  color: #f2f2f2;
  display: inline-block;
  position: relative; }
  .block:hover > .text {
    opacity: 1; }
  .block:hover > .hover_overlay {
    opacity: 1; }
  .block .text {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 16px;
    left: 20px; }
    .block .text .title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      line-height: 14px; }
    .block .text .descrip {
      font-size: 16px; }
  .block img {
    width: 100%;
    height: 100%; }
  .block .hover_overlay {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); }

.top_block {
  width: 830px;
  height: 350px;
  margin-bottom: 20px; }
  .top_block .carousel-caption {
    width: 270px;
    top: -30px;
    left: 520px; }
    .top_block .carousel-caption .title {
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 15px; }
      .top_block .carousel-caption .title span {
        font-family: Segoe-ui-semibold; }
    .top_block .carousel-caption .descrip {
      font-family: 'Comfortaa', cursive;
      font-size: 14px;
      text-align: right; }

.left_block {
  float: left;
  margin-right: 20px;
  width: 240px;
  height: 350px;
  display: inline;
  margin-bottom: 20px; }

.right_block {
  float: left;
  width: 570px;
  display: inline; }
  .right_block .top_right_block {
    height: 170px;
    margin-bottom: 20px; }
    .right_block .top_right_block a:nth-child(1) {
      display: inline-block;
      width: 225px;
      height: 170px;
      margin-right: 20px; }
    .right_block .top_right_block a:nth-child(2) {
      width: 320px;
      height: 170px; }
  .right_block .bottom_right_block a:nth-child(1) {
    display: inline-block;
    width: 320px;
    height: 160px;
    margin-right: 20px;
    margin-bottom: 20px; }
  .right_block .bottom_right_block a:nth-child(2) {
    width: 225px;
    height: 160px; }

.carousel-control {
  background-image: none !important;
  top: 45%;
  font-size: 30px;
  width: 7%; }

.carousel-indicators {
  bottom: 9px;
  z-index: 2; }
  .carousel-indicators li {
    background: url(../img/carousel-indicator.png) no-repeat;
    background-size: 13px 14px;
    border-radius: 0;
    border: none;
    width: 15px;
    height: 20px; }

.carousel-indicators .active {
  background: url(../img/carousel-indicator-active.png) no-repeat;
  background-size: 17px 18px;
  position: relative;
  top: -4px;
  border: none;
  width: 20px !important;
  height: 20px !important; }

.carousel-1 {
  position: relative; }

.for_wholesale_clients {
  position: absolute;
  right: -170px;
  top: 22px;
  width: 300px;
  height: 520px; }

.separator {
  width: 100%;
  height: 110px;
  background: url(../img/separator1.png) no-repeat;
  position: absolute;
  bottom: -21px;
  z-index: -1; }

.cb {
  clear: both; }

.barrel_backgr {
  width: 150px;
  height: 360px;
  background: url(../img/barrel_backgr.png) no-repeat;
  position: absolute;
  top: 325px; }

.to_the_shop {
  width: 145px;
  height: 165px;
  background: url(../img/to_the_shop.png) no-repeat;
  position: fixed;
  top: 181px;
  left: 15px; }

/*----------
	DAINTY
-----------*/
.dainty {
  position: relative;
  width: 100%;
  margin-bottom: 150px; }
  .dainty .separator {
    background: url(../img/separator2.png) no-repeat;
    height: 207px;
    bottom: -200px; }
  .dainty .wrapper {
    padding: 0 20px; }

.dainty_text {
  width: 470px; }

.dainty_title p {
  font-size: 22px;
  color: #751701;
  font-family: Segoe-ui-semibold, Verdana; }

.dainty_descrip {
  font-size: 16px;
  color: #262626;
  text-indent: 30px; }

.read_more {
  text-align: right; }
  .read_more a {
    font-size: 16px;
    color: #751701;
    text-align: right; }
    .read_more a:hover, .read_more a:active {
      color: #751701; }

.one_dainty {
  display: flex;
  align-items: center;
  font-family: Segoe-ui-light, Verdana; }
  .one_dainty a {
    color: #751701; }
  .one_dainty .dainty_descrip {
    margin: 22px 0 17px 0; }
  .one_dainty:nth-child(2n) .dainty_text {
    margin-right: 30px;
    order: -1; }
  .one_dainty:nth-child(2n) .dainty_title {
    text-align: right; }
  .one_dainty:nth-child(2n+1) .dainty_text {
    margin-left: 30px; }

.learn_more a {
  padding: 7px 25px;
  text-align: center;
  border: 1px solid #751701;
  font-size: 14px;
  font-family: Segoe-ui-light;
  color: #262626 !important;
  position: relative;
  bottom: 46px; }

.honey_backgr {
  width: 233px;
  height: 300px;
  background: url(../img/honey_backgr.png) no-repeat;
  position: absolute;
  top: 300px; }

.branch_backgr {
  width: 262px;
  height: 322px;
  background: url(../img/branch_backgr.png) no-repeat;
  position: absolute;
  top: 300px;
  right: 0; }

/*---------
	NEWS
----------*/
.news {
  width: 100%;
  position: relative; }
  .news .wrapper {
    padding-bottom: 25px;
    width: 960px;
    border-bottom: 1px solid #567c3a; }
  .news .item {
    margin-top: 30px; }
  .news #myCarousel2 .fa-angle-left,
  .news #myCarousel2 .fa-angle-right {
    width: 45px;
    padding-top: 5px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid #262626;
    position: relative;
    color: #262626; }
  .news #myCarousel2 .fa-angle-right {
    padding-left: 2px;
    left: 64px; }
  .news #myCarousel2 .fa-angle-left {
    padding-right: 2px;
    right: 50px !important; }
  .news .col-sm-4 {
    padding-left: 35px; }
  .news img {
    position: relative;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-filter: drop-shadow(-3px 3px 5px #878787);
    filter: drop-shadow(-3px 3px 5px #878787); }

.item a {
  position: relative; }
  .item a:hover .hidden_text {
    opacity: 1; }
  .item a:hover img {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%); }
.item .hidden_text {
  position: absolute;
  top: 73px;
  right: 85px;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 20;
  color: #f2f2f2; }
.item .hidden_date {
  margin-bottom: 20px;
  font-family: Segoe-ui-semibold;
  font-size: 24px; }
.item .hidden_descrip {
  width: 160px;
  font-family: Segoe-ui-light;
  font-size: 30px;
  line-height: 30px; }
.item a {
  display: inline-block; }

#myCarousel3 {
  display: none; }

.flower_backgr {
  width: 435px;
  height: 430px;
  background: url(../img/flower_backgr.png) no-repeat;
  position: absolute;
  top: -131px;
  left: 609px;
  z-index: -1; }

/*-------------
	FOOTER
--------------*/
footer {
  font-family: Comfortaa;
  font-weight: 300;
  color: #666;
  width: 100%;
  display: table;
  position: relative; }
  footer .wrapper {
    width: 1000px; }
  footer .footer_top_block {
    padding: 20px 80px; }
  footer .social {
    display: block;
    border-right: none; }

.contacts,
.footer_nav,
.subscribe {
  display: inline-block;
  vertical-align: top; }

.contacts {
  margin-right: 140px; }
  .contacts p {
    margin-bottom: 12px;
    text-align: center; }
  .contacts p:nth-child(1) {
    margin-bottom: 24px; }
  .contacts p:last-child {
    margin-bottom: 0; }

.footer_nav {
  margin-right: 160px;
  padding: 35px 0 0 0;
  font-family: Segoe-ui-light;
  font-size: 16px; }
  .footer_nav li {
    display: block;
    margin-bottom: 22px; }
    .footer_nav li:last-child {
      margin-bottom: 0; }
    .footer_nav li a {
      color: #666; }

.subscribe {
  padding-top: 35px; }
  .subscribe .subs_title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #d35400; }
  .subscribe .subs_form {
    display: inline-block;
    margin-bottom: 15px; }
    .subscribe .subs_form ::-webkit-input-placeholder {
      color: #dd9d07; }
    .subscribe .subs_form :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #dd9d07;
      opacity: 1; }
    .subscribe .subs_form ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #dd9d07;
      opacity: 1; }
    .subscribe .subs_form :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #dd9d07; }
    .subscribe .subs_form div {
      float: left; }
      .subscribe .subs_form div:nth-child(1) {
        padding-top: 4px; }
    .subscribe .subs_form input {
      border: none;
      margin-bottom: 4px;
      font-size: 12px;
      color: #dd9d07;
      display: block; }
    .subscribe .subs_form .name {
      background: url(../img/input_name_backgr.png) no-repeat;
      width: 186px;
      height: 33px; }
    .subscribe .subs_form .phone {
      background: url(../img/input_numb_backgr.png) no-repeat;
      width: 176px;
      height: 33px; }
    .subscribe .subs_form .email {
      background: url(../img/input_email_backgr.png) no-repeat;
      width: 184px;
      height: 33px; }
    .subscribe .subs_form .submit_btn {
      background: url(../img/subscr_btn.png) no-repeat;
      padding: 0 0 15px 0;
      text-indent: 0;
      font-size: 14px;
      font-weight: 400;
      color: #946903;
      width: 111px;
      height: 109px;
      -webkit-filter: drop-shadow(-2px 4px 4px #b0b0b0);
      filter: drop-shadow(-2px 4px 4px #b0b0b0); }

.copyright {
  border-top: 1px solid #b29b65;
  display: block;
  font-family: Comfortaa;
  font-weight: 300;
  font-size: 12px;
  padding: 25px 45px; }
  .copyright span:nth-child(1) {
    float: left; }
  .copyright span:nth-child(2) {
    float: right; }
    .copyright span:nth-child(2) span {
      margin-right: 12px; }
    .copyright span:nth-child(2) a {
      position: relative;
      bottom: 6px; }
  .copyright a {
    color: #666; }

.arow_up {
  background: url(../img/arrow_up.png) no-repeat;
  width: 107px;
  height: 232px;
  position: absolute;
  right: 50px;
  bottom: 200px; }

/*----------------
	ADAPTIVITY
----------------*/
@media screen and (max-width: 1150px) {
  .to_the_shop {
    display: none; } }
@media screen and (max-width: 1300px) {
  .honey_backgr {
    float: none;
    display: none; } }
@media screen and (max-width: 1150px) {
  .for_wholesale_clients,
  .barrel_backgr,
  .flower_backgr {
    display: none; }

  .news .wrapper {
    width: 300px; }

  #myCarousel2 {
    display: none; }

  #myCarousel3 {
    display: block; }

  .news .col-sm-4 {
    padding-left: 20px; }

  .branch_backgr {
    display: none; }

  footer .wrapper {
    width: 100% !important; }

  .contacts,
  .subscribe {
    display: table;
    margin: auto; }

  .contacts {
    padding: 20px 0 15px 0;
    border-bottom: 1px solid #878787; }

  .footer_top_block {
    padding: 0 !important; }

  .footer_nav {
    display: none; }

  .copyright {
    font-size: 14px; }
    .copyright span {
      text-align: center;
      float: none !important;
      display: block;
      margin-bottom: 10px; }
      .copyright span:nth-child(2) a {
        position: static; } }
@media screen and (max-width: 820px) {
  .arrow_up {
    display: none; }

  .learn_more {
    text-align: center; }
    .learn_more a {
      position: static;
      padding: 15px 40px; }

  .one_dainty {
    display: table;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #878787; }
    .one_dainty .dainty_title {
      text-align: center !important;
      margin-top: 20px; }
    .one_dainty img,
    .one_dainty .dainty_text {
      float: none !important;
      display: block; }
    .one_dainty .dainty_text {
      width: 250px; }
    .one_dainty:nth-child(2n) img {
      order: -1; }
    .one_dainty:nth-child(2n) .dainty_text {
      order: 0; }
    .one_dainty img {
      margin: auto !important; }

  .hidden_descrip {
    font-family: Segoe-ui-semibold !important; }

  .hamburger,
  .arrow_up_sm {
    display: block; }

  #cssmenu {
    float: none;
    width: 250px;
    margin-bottom: 10px; }
    #cssmenu ul {
      padding-left: 0; }
      #cssmenu ul li:nth-child(6), #cssmenu ul li:nth-child(7) {
        display: block; }

  .search_block {
    float: left; }
    .search_block input {
      margin: 0 0px 20px 30px;
      padding: 10px; }

  .inner {
    padding-top: 3px !important;
    margin-top: 52px !important;
    position: absolute;
    left: -400px;
    width: 250px !important;
    text-align: left;
    background: #ebab2e;
    -moz-transition: left ease .7s;
    transition: left ease .7s; }

  #cssmenu > ul > li {
    display: block;
    padding: 10px 0 10px 30px;
    margin-right: 0; }
    #cssmenu > ul > li:hover {
      background: #d8d8d8;
      border-top: none; }
    #cssmenu > ul > li a {
      text-align: left;
      font-size: 17px; }

  nav {
    position: fixed;
    order: -1;
    background: #ebab2e; }

  header {
    padding-top: 80px; }
    header .wrapper {
      border-bottom: none; }

  .header_left,
  .header_center,
  .header_right,
  .adress {
    float: none;
    display: table;
    margin: auto; }

  .social,
  .header_center,
  .change_lang {
    margin-bottom: 20px; }

  .header_center {
    padding-top: 10px; }

  .social {
    border-right: none; }

  .wrapper {
    width: 100%; }

  .block {
    width: 250px !important;
    height: 250px !important;
    display: block !important;
    margin: auto !important;
    margin-bottom: 20px !important;
    position: relative;
    overflow: hidden;
    /*on screens smaller than 820px
    images in block "tiles" will be cropped 
    from the center of main image*/ }
    .block img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: visibility opacity 0.2s; }
    .block .portrait {
      width: 100%;
      height: auto; }

  .block .text {
    opacity: 1; }

  .left_block {
    float: none; }

  .right_block {
    width: 100%; }

  .top_right_block {
    height: auto !important; }

  .top_block {
    width: 290px !important; }
    .top_block .text {
      left: 20px; }

  .item {
    height: 280px; }
    .item a:hover > img {
      -webkit-filter: drop-shadow(-3px 3px 5px #878787);
      filter: drop-shadow(-3px 3px 5px #878787);
      -webkit-transform: none;
      transform: none; }
    .item img {
      height: 280px !important; }
    .item .carousel-caption {
      left: 10px;
      opacity: 1; }
      .item .carousel-caption .descrip {
        text-align: center; }
    .item .hidden_text {
      text-align: center;
      opacity: 1;
      right: 47px; }

  #myCarousel3 .fa-angle-left,
  #myCarousel3 .fa-angle-right {
    border: none;
    color: #000;
    opacity: 1;
    font-size: 57px; }
  #myCarousel3 .fa-angle-left {
    right: -22px; }
  #myCarousel3 .fa-angle-right {
    left: -25px; }
  #myCarousel3 .carousel-control.left {
    left: -9px; } }

/*# sourceMappingURL=style.css.map */
